<div class="flex flex-row p-2">
  <mat-card class="basis-1/2">
    <mat-card-header>
      <mat-card-title>Powerplay</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20PowerPlay)"
              [type]="'bar'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="basis-1/2">
    <mat-card-header>
      <mat-card-title>Death</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20Death)"
              [type]="'bar'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex flex-row p-2">
  <mat-card class="basis-1/2">
    <mat-card-header>
      <mat-card-title>All Overs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20All)"
              [type]="'bar'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex flex-row p-2">
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>T20 Wides in Powerplay</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20WidesPowerPlay)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>Wides in Death</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20WidesDeath)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>Wides All</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20WidesAll)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex flex-row p-2">
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>Runs in Powerplay</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20RunsInPowerPlay)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>Runs in Death</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20RunsInDeath)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="basis-1/3">
    <mat-card-header>
      <mat-card-title>Runs All</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas [data]="getChartData(CHART_CONFIGS.t20RunsInAll)"
              [type]="'pie'"
              baseChart>

      </canvas>
    </mat-card-content>
  </mat-card>
</div>
