<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu Icon" (click)="toggleMenu()" >
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Cric Stats</h1>
  </mat-toolbar>
  <mat-sidenav-container #sidenavContainer autosize>
    <mat-sidenav [opened]="isMobile ? 'false' : 'true'" [mode]="isMobile ? 'over' : 'side'">
      <!--        for loop for routes from app.route.ts-->
      <mat-nav-list>
        <a *ngFor="let route of routes" [routerLink]="route.path" mat-list-item>
          <span class="entry">
            <mat-icon>{{ route.icon }}</mat-icon>
            <span>{{ route.displayName }}</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet/>
    </mat-sidenav-content>
  </mat-sidenav-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



